*~
*.bak
*.o
*.exe
cscope*
*#
Makefile.in
ltmain.sh
libtool
*.lo
*.la
install-sh
depcomp
config.guess
config.h
config.log
config.status
config.sub
config.cache
configure
*/.deps
autom4te*
po/POTFILES
po/Makefile*
po/stamp-it
po/*.gmo
po/*.pot
missing
mkinstalldirs
stamp-h1
*.libs/
Makefile
aclocal.m4
*core
m4/intltool.m4
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
ccnet-*.tar.gz
config.h.in
py-compile
intltool-extract.in
intltool-merge.in
intltool-update.in
*.stamp
*.pyc
*.tmp.ui
*.defs
*.log
.deps
*.db
*.dll
*.aps
*.so
build-stamp
debian/files
debian/seafile
debian/*.substvars
lib/searpc-marshal.h
lib/searpc-signature.h
lib/*.tmp
lib/dir.c
lib/dirent.c
lib/seafile-object.h
lib/task.c
lib/webaccess.c
lib/branch.c
lib/commit.c
lib/crypt.c
lib/repo.c
lib/copy-task.c
lib/search-result.c
seaf-server
seafserv-gc
seaf-migrate
seaf-fsck
seaf-fuse
controller/seafile-controller
tools/seaf-server-init
tests/conf/misc/
tests/conf/seafile-data/
tests/conf/ccnet.db
tests/conf/ccnet.sock
tests/conf/GroupMgr
tests/conf/OrgMgr
tests/conf/PeerMgr
*.dylib
.DS_Store
*.pc
*.tar.gz
/compile
/test-driver
*.dmp
/symbols
__pycache__/
.cache/
