name: Seafile CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v1
        with:
          fetch-depth: 1
      - uses: actions/setup-python@v1
        with:
          python-version: "3.12.10"
      - name: install dependencies and test
        run: |
          cd $GITHUB_WORKSPACE
          ./ci/install-deps.sh
          ./ci/run.py
